header {
    padding: clamp(5px, 2vw, 10px) 0;
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color: white;
    
    nav {
        .nav-menu, .nav-btns {
            gap: 10px;
            
            ul {
                gap: 10px;

                a {
                    font-size: 14px;
                }
            }
        }

        .search-bar {
            background-color: var(--grey-color);
            gap: 10px;
            padding: 1px 10px;
            border-radius: 20px;

            input {
                padding: 8px 0;
                font-size: 16px;
            }
        }
    }
}

.hero {
    background-color: var(--grey-color);
    position: relative;
    flex-wrap: wrap;
    margin-top: 57px;

    .container {
        container-type: inline-size;
        padding: 0;
        gap: 0;

        .hero-text {
            z-index: 1;
            padding: 10px;

            h2 {
                font-size: clamp(2rem, 5vw, 4rem);
                line-height: 1.02;
            }

            button {
                width: 100%;
            }

            strong {
                font-size: clamp(2rem, 3vw, 4rem);
            }

            small {
                font-size: 10px;
            }
        }

        .hero-image {
            flex: 1;
            justify-content: end;
        }

        @container (width > 600px) {
            .hero-text {
                padding: 0;
                flex: 1;

                button {
                    width: 35%;
                }

                small {
                    font-size: 12px;
                }
            }

            .hero-image {
                flex: 1;
            }
        }
    }
}

.product-list {
    h2 {
        font-size: clamp(2rem, 5vw, 4rem);
        margin-top: 40px;
    }

    .cards-list {
        align-items: stretch;

        .card {
            .card-image {
                background-color: var(--grey-color);

                img {
                    height: 250px;
                }
            }

            .card-body {
                flex: calc(1/2);

                .card-title {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    height: 30px;
                }

                .card-price {
                    strong {
                        font-size: 20px;
                    }

                    .depricated {
                        text-decoration: line-through;
                        color: var(--secondary-color);
                    }

                    .small {
                        background-color: #ff33331a;
                        color: var(--red-color);
                        font-size: 14px;
                        padding: 0px 7px;
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .card:nth-child(even) {
            display: none;
        }

        button {
            width: 100%;
        }
    }
}

.rating-stars {
    span {
        font-size: 14px;

        svg {
            width: 18px;
        }
    }
}

.dress-style {
    background-color: var(--grey-color);
    
    h2 {
        font-size: clamp(2rem, 5vw, 4rem);
    }
    
    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        container-type: inline-size;

        a:nth-child(2), a:nth-child(3) {
            grid-column: span 2 ;
        }

        a {
            border-radius: 15px;
            height: 200px;
            background-size: cover;
            background-position: center;

            h3 {
                font-size: clamp(1.5rem, 5vw, 2.5rem);
            }
        }

        @container (width < 500px) {
            a, a:nth-child(2), a:nth-child(3) {
                grid-column: span 3;
                width: 100%;
            }
        }
    }
}